.custom_container{
    margin: 15px;
    padding: 25px;
}

.custom_enable_like {
    display: flex;
    align-items: center;
    padding: 0;
}

#flexSwitchCheckDefault {
    margin-left: 15px;
}

.num_of_likes {
    margin-left:5px;
    color: blue;
}